.step {
    height: 30px;
    width:  30px; /* Lebar diganti agar persegi panjang */
    line-height: 30px;
    margin: 0 2px;
    color: white;
    background: rgb(0, 62, 205);
    opacity: 0.25;
    border-radius: 100%;      /* Hapus properti ini untuk membuat persegi panjang?*/
    display: inline-block;  
    
}
.step.active {
    opacity: 1; /* Active step is fully opaque */
    background-color: rgb(0, 62, 205); /* Darker background for active step */ /* Adjusted for better contrast */
  }
  .tab {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .tab.show {
    display: block; /* Show active tab */
    animation: slideIn 0.3s ease-in-out forwards; /* Slide-in animation */
  }