body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}
.header {
    width: 100%;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header table {
    width: 100%;
    border-collapse: collapse;
}

.header .logo {
    width: 100px;
    text-align: center;
    vertical-align: top;
}

.header .logo img {
    max-width: 80px;
    height: auto;
}

.header .text {
    text-align: center;
}

.header .text h1,
.header .text h2,
.header .text h3,
.header .text p {
    margin: 0;
}

.header .text h1 {
    font-size: 14px;
    font-weight: bold;
}

.header .text h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.header .text h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.header .text p {
    font-size: 12px;
    margin-top: 2px;
}

.content .title{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 0.5;
}

.content .container {
    display: flex;
    font-size: 12px;
}

.content .container  .label {
    flex-shrink: 0;
    margin-right: 10px; /* jarak antara "Menimbang" dan daftar */
}

.content .container  .list {
    flex-grow: 1;
}

.content .label {
    padding-right: 25px;
    margin-top: 5px;
    vertical-align: top;
}

.content .label td {
    text-align: justify;
}

li {
    margin-bottom: 10px;
    text-align: justify;
}

.signature-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px; /* Sesuaikan jarak sesuai kebutuhan */
}

.signature-table td {
    padding: 20px;
    vertical-align: top;
    text-align: center;
}

.signature-line {
    margin-top: 50px; /* Sesuaikan jarak sesuai kebutuhan */
    border-top: 1px solid #000;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
